@charset "UTF-8";

<!--
#myinfo-container{
	position: absolute;
	top:40%;
	left: 50%;
	margin-top: -300px;
    margin-left: -500px;
	height: 280px;
	width: 360px;
	
}

#myinfo-container #authBtn{
	width: 330px;
	margin: 5px 0;
}

#myinfo-container #searchBtn{
	width: 80px;
	margin-left: 10px;
}

#myinfo-container #authBtn2{
	width: 80px;
	margin-left: 10px;
}

#myinfo-container #submitBtn{
	width: 330px;
	height: 50px;
	margin-top: 40px;
}

#myinfo-container h1{
	text-align: center;
}
#myinfo-container span{
	text-align: center;
}

#myinfo-sidemenu-bar {
	position: absolute;
	width: 150px;
	top: 29%;
	left: 5%;
	text-align: center;
	
}
#myinfo-sidemenu-bar a{
	color: black;
}

#mobile-myinfo-sidemenu-bar {
	display:none;
	
}

#mobile-myinfo-sidemenu-bar li{
	list-style-type:none;
}

#mobile-myinfo-sidemenu-bar li a{
	color: black;
}

#mobile-myinfo-sidemenu-bar li a:hover{
	background: #eee;
	text-decoration: none;
}

#mobile-myinfo-dropdown:hover{
	cursor: pointer;
}

@media only screen and (max-width: 640px){
	#myinfo-container { width: auto; } 
	#myinfo-container button { width: auto;}
	#myinfo-sidemenu-bar{ display: none; }
	#mobile-myinfo-sidemenu-bar{ display: inline; }
}
-->