@charset "UTF-8";

*{
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	margin:0 auto;
	height:100%;
	font-weight: 400;
}

#icon-bar {
  right: 1px;
  position: fixed;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: black;
  font-size: 20px;
}

#icon-bar a:hover {
  background-color: #a9a9a9;
}

#icon-bar h4{
	text-align:center;
}

.ac {
  color: black;
}
.f-left {
    float: left;
}

.navbar-brand {
   color: rgba(255,255,255,.699);
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 32px;
    display:inline-block;
}

.nav-title{
font-size: 26px;
	padding: 0 20px;
	border-right: 2px solid white;
	color: white;
	font-family: 'Do Hyeon', sans-serif;
}

.nav-logo-img{
	   width: 33px;
    margin: -5px 0px 0px -5px;
    float: left;
}

.nav-content{
    font-size: 18px;
    padding: 8px 15px 10px 15px ;
    display:inline-block;
    font-weight: 100;
}

.nav-content a{
	text-decoration:none;
}

.nav-right{
    font-family: 'Godo', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 14px;
    margin-right: 10px;
    text-decoration: none;
    text-align: right;
    float: right;
}
.nav-image{
    width: 33px;
    margin: -5px -10px 5px -5px;
}

.navbar{
	background:linear-gradient(to right,#369,#885195);
	max-height: 55px;
    overflow: hidden;
    margin-bottom: 0;
	font-weight: 100;
}
a{
	    color: rgba(255,255,255,.699);
}

#if{
	max-width: -webkit-fill-available;
}

.container-fluid{
	text-align:center;
	margin:0;
	padding:0;
}

.info-bar{
	font-weight: bold;
	font-size: 14px;
	color: white;
}
 