@charset "UTF-8";
	* {
	  box-sizing: border-box;
	}

	#none{
		display:none;
	    width: 60%;
	    height: 90%;
	    overflow-y: scroll;
	}

	#myInput {
	  background-image: url('https://www.w3schools.com/css/searchicon.png');
	  background-position: 10px 10px;
	  background-repeat: no-repeat;
	  width: 60%;
	  font-size: 16px;
	  padding: 12px 20px 12px 40px;
	  border: 1px solid #ddd;
	  margin-bottom: 12px;
	}

	#myTable {
	  border-collapse: collapse;
	  width: 100%;
	  
	  border: 1px solid #ddd;
	  font-size: 14px;
	}

	#myTable th, #myTable td {
	  text-align: left;
	  padding: 12px;
	  background-color : white;
	}

	#myTable tr {
	  border-bottom: 1px solid #ddd;
	}

	#myTable tr.header, #myTable tr:hover {
	  background-color: grey;
	}
	
	.navbar{
	    min-height: 3.25rem;
	    position: relative;
	    z-index: 30;
	}
	
	
	.content{
 	    height: 86%;
	    margin: 0px;
	    min-height: 86%;
	    min-width: 100%;
	    width: 100%;
	    flex-direction: column;
	    box-sizing: border-box;
	    display: flex;
	    max-width: 100%;
	    place-content: center flex-start;
	    align-items: center; 
	}
	
	.app-footer{
        height: 50px;
   		text-align: center;
	}
	
	.start-class{
		width:220px;
		position: absolute;
	    left: 5%;
	}
	
	.sticker{
		height:35px;
		overflow:hidden;
		margin:0;
		padding:0;
		list-style:none;
	}
	
	.sticker li{
		height: 25px;
		margin: 5px;
		line-height: 2.0;
		cursor: pointer; 
	}
	
	.start-class-content{
		height: 38px;
		border: 1px solid lightgrey;
		border-radius: 5px;
		background: white;
		padding: 0px 0px 5px 0px;
	}
	
	.dday{
		background: red;
		color: white;
		font-weight: bold;
	}
	
	.ranking{
		width:350px;
	    position: absolute;
	   	left:45%;
	    top: 60%;
        background: white;

	}
	
	.ranking td{
		background-color : white;
	}
	
	.ranking-sticker{
		width: 180px;
		height: 35px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		float:left;

	}
	.ranking-title{
		height: 25px;
		margin: 5px;
		line-height: 2.0;
	}
	.ranking-sticker li{
		width:200px;
		height: 25px;
		margin: 5px;
		line-height: 2.0;
		cursor: pointer;
		border: 0;
	}
	.ranking-table{
		background: white;
		padding: 20px;
		height: auto;
		width:350px; 
	}

	.ranking-table td {
		padding: 10px 20px 0 0;
	}
	.ranking-table-fir-td{
		font-weight: bold;
		color: navy;
	}
	.ranking-table-sec-td{
		width: 240px;
	}
	.bgImg{
		height: 300px;
	    max-width: 1180px;
	    width: 100%;
	    background-image: url(../images/1.jpg);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position-x: center;
	    position: absolute;
	    top: 16%;
	    z-index: -1;
	}
	
	#myInput{
		top:20%;
	}