@charset "UTF-8";
	* {
	  box-sizing: border-box;
	}

	#none{
		display:none;
	    width: 60%;
	    height: 90%;
	    overflow-y: scroll;
	}

	#myInput {
	  background-image: url('https://www.w3schools.com/css/searchicon.png');
	  background-position: 10px 10px;
	  background-repeat: no-repeat;
	  width: 60%;
	  font-size: 16px;
	  padding: 12px 20px 12px 40px;
	  border: 1px solid #ddd;
	  margin-bottom: 12px;
	}

	#myTable {
	  border-collapse: collapse;
	  width: 100%;
	  
	  border: 1px solid #ddd;
	  font-size: 14px;
	}

	#myTable th, #myTable td {
	  text-align: left;
	  padding: 12px;
	  background-color : white;
	}

	#myTable tr {
	  border-bottom: 1px solid #ddd;
	}

	#myTable tr.header, #myTable tr:hover {
	  background-color: grey;
	}
	
	.navbar{
	    min-height: 3.25rem;
	    position: relative;
	    z-index: 30;
	}
	
	
	.content{
	    height: 86%;
	    margin: 0px;
	    min-height: 86%;
	    min-width: 100%;
	    width: 100%;
	    flex-direction: column;
	    box-sizing: border-box;
	    display: flex;
	    max-width: 100%;
	    place-content: center flex-start;
	    align-items: center;
	}
	
	.app-footer{
        height: 50px;
   		 text-align: center;
	}
	
	.ranking{
		left:45%;
	    position: absolute;
	    top: 50%;
        z-index: -2;
	}
	
	.ranking td{
		background-color : white;
	}
	
	.startClass{
	    left: 30%;
    	position: absolute;
    	top: 80%;
   	    z-index: -2;
	}
	
	.bgImg{
		height: 300px;
	    max-width: 1180px;
	    width: 100%;
	    background-image: url(../images/1.jpg);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position-x: center;
	    position: absolute;
	    top: 16%;
	    z-index: -1;
	}
	
	#myInput{
		top:20%;
	}
	
	.box{
		box-sizing: border-box;
	    margin: 0 0 20px 0;
	    padding: 5px;
	    background-color: white;
	    border-radius: 2px;
	    -webkit-box-shadow: 1px 1px 5px 0px #a8bff9;
	    box-shadow: 1px 1px 5px 0px #a8bff9;
	    overflow:auto;
	}
	
	.sectionTitle {
	    font-weight: bolder;
	    font-family: 'Godo', sans-serif;
	}
	