@charset "UTF-8";
	* {
	  box-sizing: border-box;
	}
	.start-class{
		position : absolute;
		top: 10%; left:60%;
		transform : translate(-50%, -50%);
		font-size: 12px;
		text-align: right;
	}
	
	.sticker{
		height:27px;
		overflow:hidden;
		margin:0;
		padding:0;
		list-style:none;
		}
	.start-class-title{
		font-weight:bold; color:#3572b0; padding:0 5px; margin: 0px 5px;
	}
	.sticker li{
		height:40px;
		padding:5px;
		margin: 0px 5px;
		cursor: pointer;
	}
	#none{
		display:none;
	    width: 50%;
	    height: 66%;
  		overflow: auto;
	    position : absolute;
		top: 46%; left: 50%;
		transform : translate(-50%, -30%);
	    z-index: 1;
	}
	.myInput-underline{
		border-bottom: 1px solid #ddd;
		width: 50%;
		display: inline-block;
		position : absolute;
		top: 26%; left: 50%;
		transform : translate(-50%, -74%);
	}
	.myInput-underline:after{
		content:'';
		display: block;
		margin: auto;
		height: 3px;
		width: 0px;
		background: transparent;
		transition: width .5s ease, border-bottom .5s ease;
	}
	#myInput:focus + .myInput-underline:after{
		width: 100%;
		border-bottom: 2px solid #3572b0;
	}
	#myInput  {
		background-image: url('https://www.w3schools.com/css/searchicon.png');
		background-position: 10px 10px;
		background-repeat: no-repeat;
		width: 50%;
		font-size: 16px;
		padding: 12px 20px 12px 40px;
		/* margin: 0 0 10px 0; */
		border: none;
		/* 	  border: 1px solid #ddd; */
		/* 	  border-bottom: 1px solid #ddd; */
		/* 	  margin-bottom: 12px; */
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, -75%);
	}	
	
	#myInput:focus{
		outline: none;
	}

	#myTable {
	  border-collapse: collapse;
	  width: 100%;
	  border: 1px solid #ddd;
	  font-size: 14px;
	}

	#myTable th, #myTable td {
	  text-align: left;
	  padding: 12px;
	  background-color : white;
	}

	#myTable tr {
	  border-bottom: 1px solid #ddd;
	}
	
	#myTable tr :hover {
	  background-color: grey;	
	}
	
	.navbar{
	    min-height: 3.25rem;
	    position: relative;
	    z-index: 30;
	}
	.content{
 	    height: 87%;
	    margin: 0px;
	    min-height: 87%;
	    min-width: 100%;
	    width: 100%;
	    flex-direction: column;
	    box-sizing: border-box;
	    display: flex;
	    max-width: 100%;
	    place-content: center flex-start;
	    align-items: center; 
	}
	.app-footer{
        height: 50px;
   		text-align: center;
	}

	.bgImg{
		height: 300px;
	    max-width: 736px;
	    width: 100%;
	    background-image: url(../images/1.jpg);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position-x: center;
	    position: absolute;
	    top: 23%;
	}
	
	.dday{
		background: red;
		color: white;
		font-weight: bold;
	}
	
	.ranking{
		width:350px;
	    position: absolute;
	    top: 28%;
        background: white;
	}
	
	.ranking td{
		background-color : white;
	}
	
	.ranking-sticker{
		width: 180px;
		height: 35px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		float:left;

	}
	.ranking-title{
		height: 25px;
		margin: 5px;
		line-height: 2.0;
	}
	.ranking-sticker li{
		width:200px;
		height: 25px;
		margin: 5px;
		line-height: 2.0;
		cursor: pointer;
		border: 0;
	}
	.ranking-table{
		position: absolute;
	    top: 28%;
	    height: auto;
		width:350px; 
		padding: 20px;
		background: white;
		border: 1px solid lightgrey;
		z-index: 1;
	}

	.ranking-table td {
		padding: 10px 20px 0 0;
	}
	.ranking-table-fir-td{
		font-weight: bold;
		color: navy;
	}
	.ranking-table-sec-td{
		width: 240px;
	}

	.ranking-table-sec-td:hover{
		text-decoration: underline;
		cursor:pointer;
	}
	.bgImg{
		height: 300px;
	    max-width: 1180px;
	    width: 100%;
	    background-image: url(../images/1.jpg);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position-x: center;
	    position: absolute;
	    top: 40%;
	    /* z-index: -1; */
	}

	.box{
		box-sizing: border-box;
	    margin: 0 0 20px 0;
	    padding: 5px;
	    background-color: white;
	    border-radius: 2px;
	    -webkit-box-shadow: 1px 1px 5px 0px #a8bff9;
	    box-shadow: 1px 1px 5px 0px #a8bff9;
	    overflow:auto;
	}
	
	.sectionTitle {
	    font-weight: bolder;
	    font-family: 'Godo', sans-serif;
	}
	
	.app-footer {
		color: #c3c3c3;
	}
	.app-footer .banner {
		display: inline-block;
	}
	.app-footer .banner a{
		color: #c3c3c3;
		font-weight: bold;
	}
	.app-footer .banner ul {
		list-style: none;
	}
	
	.app-footer .banner ul li {
		float: left;
		padding: 10px;
	}
	