@charset "UTF-8";


body{
  	margin-right: auto;
    margin-left: auto;
	
} 

hr{
	border: solid 10px black;
}
	
#title{
	font-family: 'Nanum Gothic Coding', serif;
	font-weight: 700;
	color: black;
	font-size: 24px;
	text-align: left;
    padding-left: 20%;
	margin-right: auto;
    margin-left: auto;
    
}

.table{
	max-width: 1023px;
	border-color: black;
	background-color: white;
	text-align: center;
}

#Thbar{
font-family: 'Nanum Gothic Coding', serif;
	font-weight: 700;
	font-size: 15px;
	max-width: 1023px;
	border-radius: 8px;
	margin-right: auto;
    margin-left: auto;
	color: white;
	background-color: #4866a9;
	height: 60px;
	
}

#Thbar >th{
	text-align: center;	
	padding-top: 30px;
}

#Thbar >th>td{
	padding: 11px;
	padding-top: 70%;
}

@media (min-width: 980px)
#centerContent {
    width: 66.66666667%;
}

@media (min-width: 992px)
.container {
    width: 970px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

#allChk{
	margin: 4px 0 0;
	line-height: normal;
	box-sizing: border-box;
    padding: 0;
}

/* 셀렉트박스   */
.selectGrade {
	display: block;
    width: 65%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gradeChangeBtn{
	color: #333;
    background-color: #f7f6f9;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn{
	border: 0;
	background-color: white;
}

#grade{
	display: -webkit-inline-box;
}
 
.chkDeleteBtn{
	-webkit-appearance: button;
    cursor: pointer;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    margin-right:96%; 
}
  
/*	Message	부분  */

.box{
	box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 5px 0px #a8bff9;
    box-shadow: 1px 1px 5px 0px #a8bff9;
    overflow:auto;
}
.sectionTitle {
   
   font-weight: bolder;
   font-family: 'Godo', sans-serif;
}
#a,#b{
width:300px;
height:500px;
background-color: #E6E6FA;
overflow-y: scroll;

}	
#c{
	height:500px;
	margin-top:255px;
}
	 